<div class="p-d-flex">
    <p-table [value]="documents">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>File type</th>
                <th>Action</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-document>
            <tr>
                <td>{{document.name}}</td>
                <td>{{document.fileType}}</td>
                <td><button pButton type="button" class="ui-button-info" (click)="onSign(document)">Sign</button> </td>
            </tr>
        </ng-template>
    </p-table>
</div>