<div class="p-grid">
    <div class="p-col-12">
        <div class="p-flex">
            <div>
                <pdf-viewer 
                    [src]="pdfSrc"
                    [render-text]="true"
                    [original-size]="false"
                    [fit-to-page]="false"
                    style="width: 1200px; height: 500px">
                </pdf-viewer>
            </div>
            <button id="sign-btn" (click)="onSign()" pButton label="Sign" style="margin-top: 8px;"></button>
            <div *ngIf="isSuccess">Success</div>
        </div>
    </div>
</div>
